	.table2{
		color: black; 
		background-color: blue;
		border: solid black 6px;
		border-width:4px;
		}
	
	.th2{
		color: white;
		background-color: black;
		outline-style:solid; 
		outline-width:2px; 
		border:2px solid black;
	}
	
	.label1{
		color: red;
	}
	
	.label2{
		color: white;
	}
	
	.input3[type="text"]{
		background-color: #DEDEE6;
		border:5px solid red;
	}
	
	.input4[type="text"]{
		background-color: #CCCCCC;
		border:5px solid black;
	}
	
	.button2[type="button"]{
		color: black;
		background-color: white;
		border:5px solid black;
	}
	
	.button3[type="button"]{
		color: red;
		background-color: white;
		border:5px solid black;
	}
	
	.button4[type="button"]{
		color:orange; background-color: black;
		border:5px solid white;
		}
	
	.button5[type="button"]{
		color: white;
		background-color: black;
		border:5px solid white;
	}
	
	
	
	
	
	
	
	
	
	
	
	
		
		
		
		
		
		
		
		
		
		
		